# Final Prediction

In [1]:
import pandas as pd
import joblib as jb
from math import sqrt
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [2]:
model=jb.load('file/train/model/reg.pkl')

In [3]:
def flow (X_path,Y_path):
    #read
    X_test=pd.read_csv(X_path)
    Y_test=pd.read_csv(Y_path)
    # predcit
    y_pred=pd.DataFrame(model.predict(X_test))
    #metrics
    MSE = mean_squared_error(Y_test, y_pred)
    RMSE = np.sqrt(MSE)
    MAE = mean_absolute_error(Y_test, y_pred)
    R2 = r2_score(Y_test, y_pred)
 
    return y_pred,MSE,RMSE,MAE,R2

In [4]:
y_pred,MSE,RMSE,MAE,R2=flow('file/evaluate/raw/X_test.csv','file/evaluate/raw/Y_test.csv')

In [5]:
y_pred

        0
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
2095  0.0
2096  0.0
2097  0.0
2098  0.0
2099  0.0

[2100 rows x 1 columns]

In [6]:
print(f'MSE= {MSE}\nRMSE = {RMSE}\nMAE = {MAE}\nR2 = {R2}')

MSE= 0.0
RMSE = 0.0
MAE = 0.0
R2 = 1.0